*{
  padding: 0;
  margin: 0;
}

.App {
  color: #f8f8f8;
  height: 100vh;
}

.app__header {
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  color: #808080;

}
